<h1>I want to display a collection of all the different beer styles here.</h1>
<p>They would be associated with a beer, so I would like to be able to click a style of beer</p>
<p>and it would display all the beers I have tasted and logged of that style.</p>
<br><br>

<h2>Beer Styles</h2>
<!-- a list of beer styles -->
<ul>
  <li>Stout</li>
    <li>- Drught Stout</li>
    <li>- Imperial Stout</li>
    <li>- BackSide Stout</li>
    <li>- etc</li>
  <li>Lager</li>
  <!-- click on one of these and it will display the beers i have tried in that style -->
  <li>Ale</li>
  <li>Amber</li>
  <li>Kolsch</li>
  <li>Pilsner</li>
  <li>Sour</li>
  <li>Dubbel</li>

</ul>
