<h1>I want to display a collection of all the different beer styles here.</h1>
<p>They would be associated with a beer, so I would like to be able to click a style of beer</p>
<p>and it would display all the beers I have tasted and logged of that style.</p>
<br><br>

<h2>Beer Styles</h2>
<!-- a list of beer styles that are clickable and dispalys the associated beers i've tasted that are
that specific beer style-->
<ul>

  <% @beer_styles.each do |beer_styles| %>
    <li><%= link_to beer_styles.name%></li>
  <% end %>

</ul>
