<h1>Beer Style: <%= @beer_style.name %></h1>

<h2>Companies</h2>
<ul>
  <% @beer_style.companies.uniq.each do |company| %>
    <li><%= link_to company.name, company_path(company) %></li>
  <% end %>
</ul>

<h2>Beers</h2>
<ul>
  <% @beer_style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer_style_beer_path(@beer_style, beer), class: 'beer-styles-beer' %></li>
  <% end %>
</ul>
<div class="beers">
</div>
