<h1>Login Here!</h1>
  <%= form_tag(sessions_path) do %>
    <%= text_field_tag :email, '', placeholder: 'login with your email' %>
    <%= text_field_tag :password, '', placeholder: 'and password' %>
    <%= submit_tag %>
  <% end %>
