<h1>Login Here!</h1>
  <%= form_tag(sessions_path) do %>
    <%= text_field_tag :email, '', placeholder: 'login with your email' %>

  <% end %>
  <form action="/users" method="post">
    <input type="submit" >
  </form>
