<h1>Brewing Companies</h1>

<ul>
  <% @companies.each do |company| %>
    <li><%= link_to company.name, company_path(company) %></li>
    <%= company.beer_count %> <%= 'beer'.pluralize(company.beer_count) %>
  <% end %>
</ul>
