<h1>Brewing Company: <%= @company.name %></h1>

<h2>Beers</h2>
<ul>
  <% @company.beers.each do |beer| %>
    <li><%= link_to beer.name, company_beer_path(@company, beer), class: 'companies-beer' %></li>
  <% end %>
</ul>
<div>
  <%= link_to 'New Beer', new_company_beer_path(@company) %>
</div>

<h2>Beer Styles</h2>
<ul>
  <% @company.beer_styles.uniq.each do |beer_style| %>
    <li><%= link_to beer_style.name, company_beer_style_path(@company, beer_style) %></li>
  <% end %>
</ul>
