<h1>Brewing Company: <%= @company.name %></h1>

<ul>
  <% @company.beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer) %></li>
  <% end %>
</ul>
<!-- this is properly displaying the company created in console but i don't have associated beers
therefore the page just have the brewery's name and no list of associated beers -->
