<h1>Brewing Company: <%= @company.name %></h1>

<h2>Beers</h2>
<ul>
  <% @company.beers.each do |beer| %>
    <li><%= link_to beer.name, company_beer_path(@company, beer), class: 'companies-beer' %></li>
  <% end %>
</ul>
<div class="beers">
</div>

<div>
  <%= link_to 'New Beer', new_company_beer_path(@company), class: 'companies-new-beer' %>
</div>
<div class="new-beers">
</div>

<!-- <form>
  <p>New Beer</p>
  <textarea></textarea>
  <p><input type="submit"></p>
</form> -->
<!-- ^^^THIS IS NOT RIGHT

-Need to somehow use the form when creating a new Beer and append that to the list of current beers
-Maybe need to first hijack the New Beer list to append to the DOM
-Then have the form to fill out information
-Then append that new Beer to the list of current beers(with a link as the others have)-->

<h2>Beer Styles</h2>
<ul>
  <% @company.beer_styles.uniq.each do |beer_style| %>
    <li><%= link_to beer_style.name, company_beer_style_path(@company, beer_style) %></li>
  <% end %>
</ul>
