<h3>Edit Beer</h3>

<%= form_for @beer do |f| %>

  <table>
    <thead><tr>
      <th>Select Company</th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :company_id, Company.all, :id, :name %></td>
    </tbody>
  </table>
  <br><br>

  <table>
    <thead><tr>
      <th>Select Beer Style</th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :beer_style_id, BeerStyle.all, :id, :name %></td>
    </tbody>
  </table>
  <br><br>

  <%= render 'form' %>
<% end %>

<!--
-refactor edit form from FORM_TAG to FORM_FOR
-acces to @post instance var and pass that to form_for
-also remove path arg & method,
-form_for is smart enough to set that and know to utilize PUT dealing w/ pre-existing record
-|f|: iterator var used on new form obj to allow dynamic assign form field elements to each beer data attr
-no longer have to pass ed values manually
-passing attr as a :symbol, automatically tells form field what model attr to associate with

PUT vs PATCH
PUT: ability to update entires object
PATCH: simply updates elements that were changed
 -->
